<h1>Help</h1>

<p>Obtenha ajuda sobre o Tutorial de Ruby on Rails na <a href="http://railstutorial.org/help">Página de Ajuda do Tutorial</a>. Para ajuda sobre essa aplicação de demonstração, veja o <a href="http://railstutorial/book">livro Rails Tutorial</a>.</p>
