<h1>Sample App</h1>

<p>Essa é a página inicial para a aplicação demonstrativa do <a href="http://raistutorial.org">Ruby on Rails Tutorial</a>.</p>

<%= link_to "Cadastre-se agora!", signup_path, :class => "signup_button round" %>
